<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="azure-sdk-for-net" value="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json" />
  </packageSources>
  <!-- Kusto should come from local so that changes made locally can be reflected without publish.
  <packageSourceMapping>
    <packageSource key="OfflineNuget">
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Kusto" />
    </packageSource>  
  -->
  <!-- All packages except Kusto come from nuget
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  -->
</configuration>