<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="OfflineNuget" value="./local-packages" />
  </packageSources>
  <!-- Kusto should come from local so that changes made locally can be reflected without publish. -->
  <packageSourceMapping>
    <packageSource key="OfflineNuget">
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Kusto" />
    </packageSource>
    <!-- All packages except Kusto come from nuget-->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>